/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid, .fa-regular {
    color: var(--main-color);
}



html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    min-width: 1024px;
    max-width: 1440;;
}
footer {
    background-color: #F2F2F2;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: left;
    margin-top: 700px;
}
.footer-section {
    flex: 1;
}
.footer-section h3 {
    margin-bottom: 10px;
}
.footer-section a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #333;
}

.footer-section a:hover {
    text-decoration: underline;
}
.main-container {
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin-left: 58px;
    font-size: 30px;
}
/* Tabs links: Accommodation Things to Do*/
.nav-links a {
    color: black;
    text-decoration: none;
}

.nav-links a:hover{
    
    text-decoration: overline;
    color: #0065FC;

}

/*Hotel Links: Mareille Accommodation*/
.hotel-links a{
    color: black;
    text-decoration: none;
}

.hotel-links a:hover{
    color: #0065FC;

}

/* Search Button*/
#web{
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    font-weight: 800;
    color: #000000;
}

#search-engine{
    background-color: #0065FC;
    padding: 15px;
    border-radius: 15px;
    color: white;
    margin-right: 45px;
    outline: none;
    border: white;
    font-weight: 800;
}


.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.dollar {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Accommodation And Popular ***********/
.accommodation-and-popular {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.accommodation-and-popular section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Accommodation ***********/
.accommodation {
    width: 65%;
}
.show-more {
    padding-top: 600px;
}
/****** Popular ***********/
.popular {
    width: 32%;
}

.popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-cards .card {
    display: flex;
    margin-top: 33px;
}

.popular-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.popular-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.popular-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.popular-cards .card-subtitle {
    margin: 0;
}

.popular-cards .card-rating {
    margin-bottom: 5px;
}

/***   Hotel Accommoation     ****/
.hotel-card {
    background-color: white;
    border-radius: 20px;
    float: inline-start;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    padding: 10px;
    margin-top: 15px;
    
    
    

}

.hotel-card img{
    width: 100%;
    height: 150px;
    border-radius: 20px;
    
    
}
.hotel-card .hotel-content{
    height: 70%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;

}
.hotel-card img {
    object-fit: cover;
}

.hotel-card .hotel-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hotel-card .hotel-subtitle {
    margin: 0;
}

.hotel-card .card-rating {
    margin-bottom: 5px;
    margin-left: 15px;
}

/*
.accommodation-cards .hotel-card{
    
    align-items: center;
    margin-left: 150px;
    
    
}
*/

.accommodation-cards .hotel-card{
    display: block;
    margin-left: 60px;
    margin-top: 30px;
}



/** Filter Button **/
.oval-button {
    background-color: white;
    padding: 10px 20px; /* Adjust padding as needed */
    border: px solid #D9D9D9; /* Border style (solid), width, and color */
    border-radius: 50px; /* This creates the oval shape */
    color: #000000; /* Text color */
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 15px;
    
    
}

.Filters{
    
    margin-top: 15px;
    display: flex;
    align-items: center;
    margin-right: 10px;
    
}

.info{
        margin-top: 15px;
        display: flex;
        align-items: center;
        margin-right: 10px;
        
}
.notice{
    margin-left: 10px;
}

.oval-button:hover {
    background-color: #DEEBFF; /* Change background color on hover */
    transition: background-color 0.3s ease; /* Smooth transition effect */
}

/* Style the header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    
}

/* Style the logo */
.logo {
    font-size: 24px;
    font-weight: bold;
}

/* Style the navigation links */
.nav-links {
    display: flex;
    gap: 20px;
    align-items: center;
}




.things-to-do-title{
    margin-top: 50px;
}

/***   Things to Do in Paris     ****/
.paris {
    background-color: white;
    border-radius: 20px;
    float: inline-start;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    padding: 10px;
    float: left;
    align-items: center;
    margin-left: 40px;
}

.paris img{
    width: 364.5px;
    height: 481px;
    border-radius: 20px;
    
}

/* Maginfy search button dissapears in mobile mode*/
@media(min-width: 769px){
    .search-button{
        display: none;
        height: 125px; /* Set height to 50px */
        width: 100px;
        padding: 0 20px;
        background-color: #007BFF;
        color: #fff;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 20px;
    }

    .accommodation {
        background-color: white;
    }
    
    .popular {
        background-color: grey;
    }
    
}
  

.icon-wrapper {
    display: inline-block;
    padding: 8px;
}

.icon-wrapper i {
    color: black;
    font-size: 24px;
}
  

/********************************************************/
/**********         MOBILE                              */
@media all and (max-device-width: 480px) {


    section.accommodation {
        background-color: white;
    }
    
    .popular {
        background-color: grey;
    }
    

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        width: 100%;
        
    }
    .logo{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 400px;
        
    }
   

    .main-container img{
        width: 300px;
        height: 100px;
    }
   
    .nav-links{
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 50px;
   
    }

    
.nav-links a {
    display: block;
    width: 100%; /* Make the links take full width of the container */
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 10px; /* Add space between the links */
    margin-top: 20px;
    border-bottom: solid #D9D9D9 10px;
    
    
} 
.nav-links a:hover{
    
    border-bottom: solid #0065FC 10px;
    width: 100%;
    color: #0065FC;
    padding-top: 20px;

}

.nav-links a:hover{
    
    text-decoration: none;
    color: #0065FC;

}
.Filters p{
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    font-size: 50px;
}

.main-container {
    width: 100%;
    padding: 0px;
    box-sizing: border-box;
}

.slogan{
    text-align: left;
    font-size: 45px;
}

    .search-engine {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .icon-wrapper {
        display: inline-block;
        padding: 8px;
    }
    
    .icon-wrapper i {
        color: black;
        font-size: 41px;
    }
      
    
    form {
        display: flex;
        align-items: center;
    }
    
    form i {
        font-size: 24px;
        margin-right: 10px;
        color: #007BFF;
        
    }
    
    form input[type="text"] {
        width: 600px;
        height: 100px; /* Set height to 50px */
        padding: 0 10px;
        border: 1px solid #000000;
        border-radius: 4px;
        margin-right: 10px;
        font-size: 30px;
        color: #000000;
    }
    /*Submit button dissapears in mobile mode*/
    form input[type="submit"] {
        display: none;
        height: 125px; /* Set height to 50px */
        width: 100px;
        padding: 0 20px;
        background-color: #007BFF;
        color: #fff;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
    }

    /*Magnify search button appears in mobile mode*/
    .search-button{
        height: 125px; /* Set height to 50px */
        width: 100px;
        padding: 0 20px;
        background-color: #007BFF;
        color: #fff;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 20px;
    }

  .filter-section{
    font-size: 35px;
    text-align: left;
  } 
  
  /* Filter Buttons*/

.Filters{
    display: grid;
    flex-direction: column;
    padding: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-left: 20px;
    gap: 5%;
    align-items: center;
    
}

.Filters button{
    font-size: 40px;
}
.info{
    font-size: 30px;
}
/*
.accommodation-and-popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: left;
}

.accommodation-and-popular section {
    
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;

    .popular-title .section-title{
    font-size: 50px;
    text-align: left;
}

}

*/

/** Popular title and Section*/
.popular {
    order: -1;
    width: 106%;
    margin-top: 20px;
    padding: 20px; 
     /* Just for demonstration */
     
     
     
      
}

.popular-title .section-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size:51px;
    margin-right: 500px; /* Pushes the title to the left */
}
.fa-chart-line {
    font-size: 40px;
    margin-left: auto; /* Pushes the icon to the right */
}


/* Accommodation**/
.accommodation {
   
    width: 100%;
}

.accommodation-title .section-title{
    font-size: 350%;
    text-align: left;
}



.accommodation-title .show-more{
    margin-bottom: 150px;
    font-size: 50px;
}


.accommodation-and-popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    
    
    
}
    

.accommodation-and-popular section {
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    margin-top: 55px;
    
}


/* Accommodation**/


/*.things-to-do-title {
    font-size: 35px;
    margin-right: 450px;
}*/
.things-to-do-title .section-title{
    font-size: 341%;
    text-align: left;
    margin-right: 318px;
}

.popular-cards{
    width: 100%;
    margin-bottom: 25px;
}

.paris img{
    width: 792px;
    height: 468px;
}
.show-more {
    padding-top: 50px;
    margin-right: 500px;
}


.hotel-links .hotel-title{
    font-size: 45px;
}

.hotel-card img{
    width: 800px;
    height: 275px;
    align-items: center;
}
.hotel-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    
    padding-top: 60px;
    
    

}
.hotel-links .hotel-card{
    gap: 30px;
    align-items: center;
    margin-left: 0%;   
}

.hotel-links .hotel-subtitle{
    font-size: 40px;
}

.hotel-links .card-rating{
    font-size: 30px;
}




.card-title{
    font-size: 50px;
}
.card-subtitle{
    font-size: 35px;
}
.popular-cards img{
    width: 250px;
    height: 250px;
}



 .paris-title{
    font-size: 50px;
}

/*footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}*/
footer {
    background-color: #F2F2F2;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: left;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
}

.footer-section{
    font-size: 50px;
    text-align: left;
    margin-left: 50px;
}

}